# Environment and cache folders
.venv/
__pycache__/
*.py[cod]
*_cache/
.idea/
.env
.env.local
*.token

# Logs and temporary files
*.log
*.tmp

# Python package/dist artifacts
*.egg-info
dist/

# Coverage files
.coverage
coverage.xml

# Testing
.pytest_cache/

.ruff_cache/

*.sqlite3
staticfiles/

.django_tailwind_cli/
assets/css/tailwind.css